
{% extends "layout.html" %}


{% block content %}
<main class="container employeeRegister-section" style="margin: 0 auto;">
	<div class="section-content" style="text-align: center; padding-bottom: 20px">
		{% if error != '' %}
		<div class="alert alert-danger" role="alert" style="width: auto;  text-align: center;">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  					{{ error }}
		</div>
		{% endif %}
		<h2>Register for an employee account</h2>
		<form method = "POST" action="/employeeRegister">
			{{ form.hidden_tag() }}

			<div class="form-group">
				{{form.organization_id.label}}
				{{form.organization_id(class="browser-default")}}
			</div>
			
			<div class="form-group">
				{{form.username.label}}
				{{form.username}}
			</div>
			<div class="form-group">
				{{form.password.label}}
				{{form.password}}
				<font color="red">
					{{ form.errors['password'] }}
				</font>
			</div>
			{{ form.submit(class = "btn-primary")}}
		</form>
	</div>
</main>

{% endblock %}
