{% extends "layout.html" %}
	
{% block content %}
<main class="container employeeLogin-section" style="margin: 0 auto;">
	<div class="section-content" style="text-align: center; padding-bottom: 10px" >
		{% if error is defined %}
		<div class="alert alert-danger" role="alert" style="width: auto;  text-align: center;">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			<span class="sr-only">Error:</span>
  					{{ error }}
		</div>
		{% endif %}
		<h2>Login</h2>
		<form method = "POST" action="/employeeLogin">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{form.organization_id.label}}
				<div id="selection ">
					{{form.organization_id(class="browser-default")}}
				</div>
			</div>
				<div class="form-group">
					{{form.username.label}}
					{{form.username}}
				</div>
				<div class="form-group">
					{{form.password.label}}
					{{form.password}}
				</div>
			{{ form.submit(class = "btn-primary")}}
		</form>
	</div>
	
</main>	
{% endblock %}


<script type="text/javascript">
$(document).ready(function() {
    $('select').formSelect();
});
</script>